/* --- START OF FILE app/globals.css --- */

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  /* DEFINITIVE FIX: Changed the highlight color to our brand lavender. */
  background: #C4B5FD !important;
  color: black;
}

body {
  @apply text-slate-700 dark:text-slate-300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}